*{
    padding: 0px;
    margin: 0px;
}
.foot{
    height: 10rem;
    width: 100%;
background-color: black;
color: white;
display: flex;

align-items: center;
justify-content: center;

}
.adress{
    /* padding: 2rem; */
    margin: 0rem 4rem;
    align-items: center;

}
.adress1{
    /* padding: 2rem; */
    margin: 0rem 4rem;

}
